.navbar {
  background-color: #0033A0;
}
.scheduler-navbar.navbar {
  padding: 1rem;
}
ul.navbar-nav li a {
  color: white;
}
ul.navbar-nav {
  display: inline;
  margin-right: 5vw;
}
ul.navbar-nav li {
   float: left;
   display: inline;
   padding: 0 1vw;
}
.login-body {
  background-color: #f1f1f1;
}
#login {
  width: 350px;
  padding: 24px;
  margin: 72px auto 68px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
#login input {
    width: 100%;
    height: 40px;
}
#login input[type="text"], #login input[type="password"] {
    margin-bottom: 5%;
    border: none;
    border: solid 1px #ddd;
    background-color: #fbfbfb;
    font-size: 2rem;
    padding: 3px;
}
#login input[type="submit"] {
    color: white;
    background-color: #0033A0;
    border: none;
    border-radius: 4px;
}
#login input[type="submit"]:hover, #login input[type="submit"]:focus {
    background-color: #003fc7;
}
#login h1 {
    position: absolute;
    top: -72px;
    left: 0px;
    width: 100%;
    text-align: center;
}
.shift-block {
    position: relative;
    width: 150px;
    box-shadow: 1px 1px 2px #333;
}
.shift-block p {
    margin-bottom: 0;
}
.shift-block p .fa {
  position: absolute;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255,255,255, .4);
  display: none;
}
.shift-block p .fa-times {
  top: 0;
  right: 0;
  font-size: 1.1rem;
  padding: 3px;
}
.shift-block p .fa-pencil {
  bottom: 0;
  right: 0;
  padding: 3px;
}
.shift-block p .fa:hover {
  cursor: pointer;
}
.shift-block p {
  color: #e8e8e8;
}
.shift-block:hover .fa, .shift-block:focus .fa {
  display: block;
}
button:hover {
  cursor: pointer;
}
        /*=============Schedule Style=============
        ==========================================*/
.schedule-table{
  table-layout: fixed;
  empty-cells: show;
  width: 100%;
}
.schedule-table th, .schedule-table td {
  border-collapse: collapse;
  text-align: center;
}
.schedule-table th {
  border-bottom: 1px solid #d4d4d4;
  background-color: #ece9e9;
  color: #717171;
  font-size: 1vw;
}
.schedule-table td {
  border: 1px solid #d4d4d4;
  height: 3rem;
  color: #e8e8e8;
  font-size: 1rem;
}
.schedule-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.employee-hours {
    font-weight: 400;
    font-size: .85rem;
}
td a.add-item i {
  opacity: 0;
  color: #bbbbbb;
}
td:hover a.add-item i{
  opacity: 1;
}
td:hover {
  cursor: pointer;
}
td a.add-item i {
  display: block;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
}
a.control.button {
  text-decoration: none;
  color: #e8e8e8;
  background-color: #333;
}
.dropdown.new {
  padding-bottom: 5px;
  margin-top: 5px;
  padding-left: 1rem;
}
.control.button.active, a.control.button:hover, a.control.button.focus, a.control.button:focus, a.control.button:active, a.control.button.show>.dropdown-toggle {
  text-decoration: none;
  color: #e8e8e8;
  background-color: #333;
  box-shadow: none;
  border-color: #333;
  outline: none 0;
  cursor: pointer;
}
.dropdown-menu.show {
  background-color: #ece9e9;
  padding: 0;
}
.dropdown-menu.show > li > a {
  color: #717171;
  text-decoration: none;
  padding-left: 2px;
  display: block;
}
.dropdown-menu.show > li:hover {
  background-color: #717171;
}
.dropdown-menu.show > li:hover > a {
  color: white;
}
.dropdown-menu.show li {
  padding: .5rem 0;
}
.control-bar {
  background-color: #333;
  height: 42px;
}
.control-bar form {
    display:inline;
    float:right;
    margin-top: 5px;
    padding-right: 1rem;
}
.schedule-type {
  float: right;
  margin-top: 5px;
  color: #e8e8e8;
  padding-right: 1rem;
  display: inline;
}
.month.schedule-view td {
  height: 10rem;
  max-height: 10rem;
  font-size: 1rem;
  vertical-align: top;
}
.month-shift-block {
  padding: 0 5px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: .5rem;
}
.schedule-type input[type="radio"].toggle {
    display: none;
}

.schedule-type input[type="radio"].toggle:checked + label {
    background-image: -moz-linear-gradient(bottom,#969696,#727272) !important;
    background-image: -webkit-linear-gradient(bottom,#969696,#727272) !important;
    background-image: -o-linear-gradient(bottom,#969696,#727272) !important;
    background-image: linear-gradient(to top,#969696,#727272) !important;
    -webkit-box-shadow: inset 0 1px 6px rgba(41, 41, 41, 0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 6px 0 rgba(41, 41, 41, 0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 6px rgba(41, 41, 41, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: default;
    background-color: inherit;
    border-color: transparent;
    text-shadow: 0 1px 1px rgba(40, 40, 40, 0.75);
}

.schedule-type input[type="radio"].toggle:checked + label.btn:hover {
    background-color: inherit;
    background-position: 0 0;
    -webkit-transition: none;
    -moz-trainsition: none;
    transition: none;
}
.schedule-type input[type="radio"].toggle-left + label {
    border-right: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    background-color: #333;
}

.schedule-type input[type="radio"].toggle-center + label {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #333;
}

.schedule-type input[type="radio"].toggle-right + label {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #333;
}
.date-display {
  color: #e8e8e8;
  font-weight: 600;
  padding: 0 5px;
  vertical-align: middle;
}
.time-select, .employee_select, .role_select {
  -webkit-appearance: button;
    border-radius: 2px;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 93% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    padding: 2px 10px;
    white-space: nowrap;
    width: 65px;
}
.employee_select, .role_select {
  background-position: 97% center;
    text-overflow: ellipsis;
    width: 190px;
}
.shift_date, .add-employee-box {
  background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    border: 1px solid #AAA;
}
.add-shift-month {
  line-height: 10rem;
  position: absolute;
  width: 14vw;
  height: 10rem;
  display: block;
}
.edit-item.month {
  position: relative;
}
.month-table-cell {
  overflow: hidden;
  max-height: inherit;
}
.show-more-shifts {
  margin: 5%;
  position: relative;
}
.show-more-shifts a {
  color: #717171;
  text-decoration: none;
}
.show-more-shifts a:hover {
  color: #333;
}
.shift-text {
  color: #717171;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.5rem;
}
.modal-dialog {
  margin-top: 15%;
}
.modal-header {
  color: #717171;
}
.hour-td {
  width: 4rem;
}
.hour {
  color: black;
  font-size: .8rem;
  text-align: right;
  height: 3rem;
  width: 4rem;
}
.hour-section {
  height: 3rem;
  border: 1px #717171 dotted;
}
.hour:nth-child(odd), .hour-section:nth-child(odd) {
  background-color: #f2f2f2;
}
.hour:nth-child(even), .hour-section:nth-child(even) {
  background-color: white;
}
.day-shift-block {
  position: absolute;
  left: 4.3rem;
  top: 7.4rem;
  width: 96.1%
}
