.navbar {
  background-color: #0033A0;
}
.scheduler-navbar.navbar {
  padding: 1rem;
}
ul.navbar-nav li a {
  color: white;
}
.login-body {
  background-color: #f1f1f1;
}
#login {
  width: 350px;
  padding: 24px;
  margin: 72px auto 68px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
#login input {
    width: 100%;
    height: 40px;
}
#login input[type="text"], #login input[type="password"] {
    margin-bottom: 5%;
    border: none;
    border: solid 1px #ddd;
    background-color: #fbfbfb;
    font-size: 2rem;
    padding: 3px;
}
#login input[type="submit"] {
    color: white;
    background-color: #0033A0;
    border: none;
    border-radius: 4px;
}
#login input[type="submit"]:hover, #login input[type="submit"]:focus {
    background-color: #003fc7;
}
#login h1 {
    position: absolute;
    top: -72px;
    left: 0px;
    width: 100%;
    text-align: center;
}
.shift-block {
    position: relative;
    width: 150px;
    box-shadow: 1px 1px 2px #333;
}
.shift-block p {
    margin-bottom: 0;
}
.shift-block p .fa {
  position: absolute;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255,255,255, .4);
  display: none;
}
.shift-block p .fa-times {
  top: 0;
  right: 0;
  font-size: 1.1rem;
  padding: 3px;
}
.shift-block p .fa-pencil {
  bottom: 0;
  right: 0;
  padding: 3px;
}
.shift-block p .fa:hover {
  cursor: pointer;
}
.shift-block p {
  color: #e8e8e8;
}
.shift-block:hover .fa, .shift-block:focus .fa {
  display: block;
}
button:hover {
  cursor: pointer;
}
.schedule-table{
  table-layout: fixed;
  empty-cells: show;
}
.schedule-table th, .schedule-table td {
  border-collapse: collapse;
    text-align: center;
}
.schedule-table th {
  border-bottom: 1px solid #d4d4d4;
  background-color: #ece9e9;
    color: #717171;
}
.schedule-table td {
  border: 1px solid #d4d4d4;
  height: 3rem;
  color: #e8e8e8;
  font-size: 1rem;
}
.schedule-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.employee-hours {
    font-weight: 400;
    font-size: .85rem;
}
td a.add-item i {
  opacity: 0;
  color: #bbbbbb;
}
td:hover a.add-item i{
  opacity: 1;
}
td:hover {
  cursor: pointer;
}
td a.add-item {
  width: 100%;
  height: 3rem;
}
